.card {
  color: white;
  margin: 10% auto;
  max-width: 300px;
  padding: 2em;
  background-color: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.card:hover {
  scale: 1.05;
  cursor: pointer;
  transition: 0.5s;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /*background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545);*/
  background-image: conic-gradient(
    from var(--angle),
    #cc3636,
    #00cc7a,
    #0052cc,
    #cc0077,
    #cc3636
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 4px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
